:root {
    --padding-large-side: 82px;
    --padding-small-side: 8px;
    --padding-top-bottom: 60px;

    --primary: #ff4646;
    --dark: #181c29;
    --static-white: #fff;
    --content-background: #ecf3f8;
    --tag-purple: #4361ff;
    --tag-pink: #ff43f7;
    --tag-green: #06a44f;
    --primary-10: rgba(255, 70, 70, 0.1);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --static-white-40: rgba(255, 255, 255, 0.4);
    --overlay: rgba(24, 28, 41, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type:  none;
}

body{
    background-color: var(--static-white);
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px var(--padding-large-side);
    background-color: var(--static-white);
    margin: 0 auto;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: var(--padding-small-side) 20px;
    cursor: pointer;
    gap: 8px;
}

.logo {
    display: block;
    width: 24px;
    height: 24px;
}

.logo__title, .nav__link{
    font-size: 12px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark);
    font-family: inherit;
}

.nav__item {
    display: flex;
}

.nav__item:first-child .nav__link{
    background-color: var(--primary-10);
    color: var(--primary); 
    cursor: none;
    pointer-events: none;
}

.hero__link:hover, .cta__link:hover {
    background-color: var(--static-white);
    color: var(--dark);
}

.nav__container {
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav__link {
    padding: 12px 20px;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 12px;
}

.nav__link:hover {
    background-color: var(--primary-10);
    color: var(--primary);
}

main {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 20px;
    background-color: var(--primary);
    background-image: url('../images/bg-garland.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.gifts {
    width: 100%;
    text-align: center;
    padding: var(--padding-top-bottom) var(--padding-large-side);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gifts__title{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 5.8px;
    color: var(--static-white);
    text-align: center;
    text-transform: uppercase;
    max-width: 426px;
}

.categories__wrapper {
    display: flex;
    gap: 8px;
}

.category__item {
    padding: 12px 20px;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: var(--static-white);
    cursor: pointer;
    transition: 1s;
    pointer-events: auto;
}

.category__item.open {
    background-color: var(--static-white-20);
    cursor: default;
    pointer-events: none;
}

.category__item:hover {
    background-color: var(--static-white-20);
}

.gifts__wrapper {
    display: flex;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.gifts__item {
    width: 100%;
    max-width: 310px;
    height: 342px;
    border-radius: 20px;
    background-color: var(--content-background);
    overflow: hidden;
    cursor: pointer;
}


.gifts__item:hover .item__text{
    color: var(--primary);
}

.gifts__image_wrapper {
    overflow: hidden;
    width: 310px;
    height: 230px;
}

.gift__image {
    object-fit: contain;
    width: 310px;
    height: 230px;
}

.item__description {
    padding: 20px;
    background-color: var(--static-white);
    border-radius: 20px;
    height: 112px;
    text-align: left;
}

.item__category, .popup__category {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.7px;
}

.contacts__description {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 1.2px;
    margin-top: 7px;
    transition: 1s;
}


.item__text, .popup__description {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 1.2px;
    color: var(--dark);
    text-transform: uppercase;
    margin-top: 9px;
    transition: 0.5s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blue {
    color: var(--tag-purple);
}

.green {
    color: var(--tag-green);
}

.pink {
    color: var(--tag-pink);
}

footer {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-color: var(--static-white);
}

#footer {
    padding: var(--padding-top-bottom) var(--padding-large-side);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.footer__contacts {
    display: flex;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
}

.footer__contacts_item {
    min-width: 417px;
    flex-grow: 1;
}

.contacts__link {
    cursor: pointer;
    background-color: var(--content-background);
    border-radius: 20px;
    /* padding: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    transition: 1s;
}

.contacts__link:hover .contacts__description,
.contacts__link:hover .contacts__action {
    color: var(--primary);
}

.contacts__action {
    margin-bottom: 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 3.8px;
    color: var(--dark);
    text-transform: uppercase;
    transition: 0.5s;
}

.contacts__link img {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
}

.contacts__description {
    color: var(--dark);
    text-transform: uppercase;
    transition: 1s;
}

.footer__social_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.social__list {
    display: flex;
    gap: 12px;
}

.social__link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social__link svg {
   transition: 1s;
}

.social__link:hover svg {
    filter: brightness(0) saturate(100%) invert(53%) sepia(37%) saturate(6321%) hue-rotate(333deg) brightness(103%) contrast(105%);
}

.social__rss {
    color: var(--dark);
    transition: 1s;
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.1px;
}

.social__rss:hover {
    color: var(--primary);
}


.burger__menu {
    width: 40px;
    height: 40px;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.burger__line {
    width: 20px;
    border-radius: 1px;
    border: 0.5px solid var(--dark);
    transition: 0.5s;
}

body.open {
    overflow: hidden;
}

@media (max-width: 768px) {
    :root {
        --padding-large-side: 8px;
    }

    .burger__menu {
        display: flex;
    }

    .burger__line_first.open {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .burger__line_second.open {
        transform: rotate(-45deg);
    }

    .nav__container {
        display: flex;
        position: fixed;
        align-items: center;
        z-index: 20;
        right: -100%;
        width: 100%;
        transition: right 0.5s ease-in-out;
        background-color: var(--static-white);
        overflow-y: auto;
        justify-content: center;
    }

    .nav__container.open {
        right: 0;
        overflow-y: auto;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav__link {
        font-size: 24px;
        font-weight: 600;
        line-height:  152%;
        letter-spacing: 3.5px;
        text-transform: uppercase;
    }

    .header {
        padding: 12px var(--padding-large-side);
    }

    #footer .contacts__action, .contacts__description {
        line-height: 147%;
    }

    .footer__contacts_item {
        min-width: 100%;
    }

    .button__up {
        display: none;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        background-color: var(--static-white);
        border: 1px solid var(--primary);
        position: fixed;
        bottom: 8px;
        right: 8px;
    }
    
    .button__up svg {
        transform: rotate(-90deg);
        color: var(--primary);
    }


}

@media(max-width: 500px) {
    .categories__wrapper {
        gap: 0px;
    }
    .category__item {
        padding: 12px 8px;
    }
    .popup {
        max-width: 364px!important;
    }
}

.popup__wrapper {
    background-color: var(--overlay);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    z-index: 2;
}

.popup__wrapper.open {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    max-width: 380px;
    width: 100%;
    transition: 0.5s all;
    border-radius: 20px;
    overflow: hidden;
}

.popup.open {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.popup__img {
    width: 100%;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--content-background);
    padding: 12px;
}

.popup__button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: none;
}

.popup__characteristic {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}

.popup__story {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.popup__description {
    font-size: 16px;
    line-height: 148%;
}

.popup__spec {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.superpowers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.live, .create, .love, .dream {
    display: flex;
    justify-content: end;
    gap: 12px;
    align-items: center;
}

.self {
    margin-left: auto;
    text-transform: capitalize;
}

.snowdrift {
    display: flex;
    gap: 8px;
}

.snowflake {
    width: 16px;
    height: 16px;
    opacity: 50%;
}

.ab__name {
    text-transform: capitalize;
}





